version: '3.9'

services:
  redis:
    image: redis:7.2
    container_name: redis_db
    restart: always
    ports:
      - "${REDIS_PORT:-6379}:6379"
    environment:
      REDIS_PASSWORD: "${REDIS_PASSWORD:-}"
      REDIS_USER: "${REDIS_USER:-}"
    volumes:
      - redis_data:/data
    command: >
      redis-server
      --appendonly yes
      ${REDIS_PASSWORD:+--requirepass $REDIS_PASSWORD}

volumes:
  redis_data:
